@import "tailwindcss";
@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 14s linear infinite;
}
.input {
  @apply w-full border rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-500;
}
